<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
   
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: row-reverse;
            
        }

        .a{
            background-color: blueviolet;
            margin: 2px;
            border: 1px solid;
        }
    

    </style>
</head>
<body>
    <div class="box">
        <div class ="a">A</div>
        <div class ="b">B</div>
        <div class ="c">C</div>
        <div class ="d">D</div>
    </div>
    
</body>
</html>